/* Styles default */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

/* Section class styles */

@media (min-width: 900px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
  }
}

/* Navbar section styling */

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  color: white;
  padding: 1rem;
  align-items: center;
}

.nav-list-div {
  display: none;
}

.language-option {
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: white;
  font-size: 1rem;
  padding: 0.2rem;
  margin: 0;
  cursor: pointer;
  text-align: center;
}

.language-option + .language-option {
  border-left: solid white 1px;
  padding-left: 0.5rem;
}

.nav-right-side {
  justify-self: right;
}
.menu-button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

@media (min-width: 900px) {
  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .nav-list-div {
    display: flex;
  }

  .nav-list {
    list-style: none;
  }

  .nav-item > a,
  .nav-item > a:link,
  .nav-list > a:visited {
    color: inherit;
    text-decoration: none;
  }

  .nav-item {
    transition: all 0.2s ease-in;
  }

  .nav-item:hover {
    color: rgb(139, 170, 236);
  }

  .menu-button {
    display: none;
  }
}

/* Aside Styling */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  transform: translate(-100%);
  height: 100%;
  z-index: -1;
  background-color: rgba(128, 128, 128, 0.425);
  transition: all 0.3s linear;
}

.modal-open {
  z-index: 10;
  transform: translate(0);
}

.aside-menu {
  margin: 0 auto;
  width: 70vw;
  border-radius: 1rem;
  height: 65vh;
  padding: 7rem 1rem;
  background-color: black;
  color: white;
  text-align: center;
}

.close-btn {
  position: absolute;
  background-color: transparent;
  color: rgb(253, 253, 253);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  top: 5%;
  right: 15%;
}

.modal-list {
  list-style: none;
  padding-left: 0;
}

.list-link {
  margin-top: 1rem;
}

.list-link > a,
.list-link > a:visited,
.list-link > a:link {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 900px) {
  .modal {
    display: none;
  }
}

/* Intro Section styling */

.intro-section {
  padding: 1rem;
}

.intro-text {
  text-align: center;
}

.intro-desc {
  margin-top: 1.5rem;
}

.intro-image {
  width: 330px;
  height: 330px;
}

@media (min-width: 900px) {
  .intro-text {
    transform: translateY(10rem);
  }

  .intro-title {
    font-size: 2rem;
  }

  .intro-image {
    width: 90%;
    height: 90%;
  }
}

/* Middle Section styling  */

.middle-section {
  text-align: center;
  background-color: #cacaca;
  padding: 1.5rem;
}

.middle-image {
  width: 330px;
  height: 330px;
}

.title-symbol {
  height: 30px;
  width: 30px;
}

.services-div {
  padding: 1rem;
}

.single-service {
  margin-bottom: 1.5rem;
}

.service-list {
  padding: 0;
  list-style: none;
}

.service-bullet {
  margin: 0.5rem 0;
}

@media (min-width: 900px) {
  .middle-section {
    grid-template-columns: 2fr 1fr;
  }
  .middle-title {
    grid-column: 1 / 3;
  }

  .middle-image {
    width: 80%;
    height: 80%;
    padding: 1rem;
  }

  .services-div {
    text-align: left;
    padding-top: 3rem;
  }

  .service-list {
    list-style: circle;
    padding-left: 1.5rem;
  }
}

/* Process div styling */

.process-section {
  padding: 1.5rem;
}

.process-title {
  text-align: center;
  font-size: 2rem;
}

.process-step {
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  height: fit-content;
}

.process-number {
  font-size: 9rem;
  text-align: center;
  color: rgb(129, 126, 126);
}

.step-title {
  margin-top: 0.5rem;
  font-weight: 350;
  margin-bottom: 1rem;
}

.icon-span {
  cursor: pointer;
  font-size: 1.4rem;
  transition: all linear 0.2s;
  color: rgb(74, 91, 127);
}

.icon-span:hover {
  color: goldenrod;
}

.step-description {
  margin-top: 1rem;
  font-size: 0.9rem;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.active {
  height: 55px;
}

@media (min-width: 900px) {
  .process-section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }
  .process-title {
    grid-column: 1 / 4;
    justify-self: left;
    transform: translateY(2rem);
  }

  .process-step {
    margin: 0;
  }
}

/* Final Section styling */

.final-section {
  padding: 1.5rem;
  text-align: center;
}

.final-title {
  font-size: 1.3rem;
}

.industries-flex {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.4rem;
  flex-wrap: wrap;
}

.industry {
  margin: 0.5rem;
}

.contact-title {
  margin: 1rem 0;
}

.contact-mail {
  margin-bottom: 3rem;
}

@media (min-width: 900px) {
  .final-section {
    padding: 1rem;
  }
  .final-title {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .industries-flex {
    align-content: center;
    margin-top: 5rem;
  }
  .industry {
    flex: 1 1 auto;
    font-size: 1.2rem;
  }

  .contact-title {
    margin-top: 5rem;
    font-size: 1.2rem;
  }

  .contact-mail {
    font-size: 1.5rem;
  }

  .industry + .industry {
    border-left: solid black 1px;
  }
}

/* Portfolio Section */

.portfolio-section {
  display: flex;
  flex-wrap: wrap;
  padding: 3em 1em;
  align-items: center;
  justify-content: center;
}

.project-article {
  flex-basis: 80%;
  text-align: center;
  transition: all 0.2s linear;
  margin: 1rem 0;
}

.project-article:hover {
  transform: scale(1.03);
}

.project-image {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  border-radius: 1rem;
}

.project-title {
  background-color: rgb(25, 29, 29);
  border-radius: 0.5rem;
  color: white;
  padding: 0.2rem 2rem;
  text-align: center;
  margin: 1rem 2rem 0.2rem;
  font-size: 0.9rem;
}

.project-title > a,
.project-title > a:link,
.project-title > a:visited {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 900px) {
  .portfolio-section {
    min-height: 65vh;
    justify-content: space-evenly;
  }

  .project-article {
    flex-basis: 30%;
  }

  .project-title {
    margin: 1rem 4rem 0.2rem;
    font-size: 1.3rem;
  }
}

/* Footer Styling */

.footer {
  background-color: black;
  text-align: center;
  padding: 2rem;
}

.networks-div {
  display: flex;
  justify-content: space-evenly;
}

.footer-icon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.footer-icon:hover {
  color: rgb(85, 133, 237);
  text-shadow: 0 0 0.2em rgb(85, 133, 237);
}

@media (min-width: 900px) {
  .footer-icon {
    font-size: 3rem;
  }
}
